---
layout: default
---
<img
  src={{page.image}}
  style="display:block;float:right;margin-left:1em;margin-right:2rem;border-radius:1rem"
  class="responsive"
  alt="Image of {{site.name.full}}"
/>
<h2> {{site.name.full}}</h2>
<h3> {{site.affiliations}}</h3>

{{ content }}
